/* This style file contains anyting for our custom styles - to add any styles, type in this file */


* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  overflow: hidden;
  background-color: #F6F4FF;
  padding: 30px 55px;
}

header a {
  float: left;
  color: #45474A;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a:hover {
 color: #45474A;
}

header a.active {
  font-weight: bold;
  color: white;
}

.header-right {
  width: 40%;
  float: right;
  display: grid;
  grid-template-columns: auto auto auto;
}

.search-bar2{
  float: right;
}

.menu-header-drachma-menu-container{
  padding-left: 170px;
}


.grid_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  list-style-type: none;
}


.search-container {
  float: right;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}


@media screen and (max-width: 500px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.index_text{
    padding-left: 5%;
    padding-top: 5%;
}

.image{
  background-color: white;
  text-align: left;
  padding: 100px 70px;
  color: gray;
  line-height: 40px;

}

.categories{
  color: #0D2241;
  padding: 20px 70px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-bottom: 50px;
}

  .categories_container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    height: 300px;
    
  }

    .content{
      background-color: white;
      height: 100%;
      width: 100%;
      padding: 7%;
      padding-top: 15%;
      color: #272954;
      border-radius: 10px;
      box-shadow: 20px 20px 50px rgb(205, 205, 205);
      line-height: 27px;

    }

    .categories-container1{
      display: grid;
      grid-template-columns: auto auto;
    }

    .content_image{
      background-color: rgb(171, 171, 171);
      width: 100%;
      height: 60%;
    }

    .buttoncategory{
      float: right;
    }

    .button {
      background-color: #9F5CC0;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      border-radius: 30px;
      padding: 10px 15px;
      float: right;
      font-weight: bold;
    }

.achievements{
  background-color: white;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 100px;
  padding-bottom: 50px;
  color: gray;
}

  .achievements_button{
    background-color: #0D2241;
    color: white;
    padding: 7px;
    border-radius: 10px;
    font-size: 14px;
  }

  .joindrachma{
    letter-spacing: 7px;
  }
   
  .button1 {
    background-color: white;
    border: 1.5px solid #9F5CC0;
    color: #9F5CC0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 15px;
    float: left;
    font-weight: bold;
  }

.biography{
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  height: 400px;
}

  .bio_image{
    width: 100%;
    height: 100%;
    padding-top: 110px;
    padding-right: 3%;
  }
  
    .profile_pic{
      background-color: rgb(195, 195, 195);
      width: 200px;
      height: 200px;      
      float: right;
      border-radius: 10%;
    }

  .bio_text{
   padding-top: 140px;
   padding-right: 20%;
   padding-left: 2%;
  }

  .bio_info{
    color: rgb(151, 151, 151);
  }

  footer{
    background-color: #0D2241;
    height: 200px;
    width: 100%;
    padding-top: 5%;
    padding-left: 2%;
    color: white;
  }


    .footer_container2{
      padding-top: 50px;
    }

      .container2_text{
        color: rgb(169, 169, 169);
        padding-top: 10px;
      }
  
  footer a{
    color: white;
    text-decoration: none;
  }

  .footer-light{
    padding-left: 0px;
  }



.menu{
  list-style-type: none;
  width: 80%;
  float: left;
  list-style-type: none; 
}

ul{
  display: grid;
  grid-template-columns: auto auto auto auto;
  list-style-type: none; 
  line-height: 40px;
  padding-left: 10%;
}

.menu-empty-menu-container{
  width: 100%;
}

#menu-empty-menu{
  width: 100%;
  
}

.sub-menu{
  list-style-type: none;
  padding-left: 0%;
}

.article-title{
  padding-top: 4%;
  padding-left: 4%;
}

.article-text{
  padding: 0% 5% 1% 4%;
  font-size: 20px;
  height: 60px;
}

.article-text1{
  padding: 0% 5% 1% 4%;
  font-size: 20px;
}


.article-text2{
  padding: 0% 5% 1% 4%;
  font-size: 20px;
}




